{% load render_partial %}

<!DOCTYPE html>
<html lang="en">

<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include "header_refrences.html" %}
    {% block header_refrences %}{% endblock %}
</head>

<body>

{% include "site_app/components/header-component.html" %}

<div id="messages-container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert--{{ message.tags }}">
                <p class="alert__message">{{ message }}</p>
                <button class="alert__close">⨯</button>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% block content %}{% endblock %}

{% include "site_app/components/footer-component.html" %}

{% include "footer_refrences.html" %}
{% block footer_refrences %}{% endblock %}

</body>

</html>
